/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 20px;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

.navigation {
  float: right;
}

.photo-form {
  display: inline-block;
  text-align: left;
}
